[mysqld]
bind-address = 127.0.0.1
max_allowed_packet=256M

# 设置最大连接数
max_connections=200

# 设置查询缓存大小
query_cache_size=128M

# 设置慢日志阈值和日志文件
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/mariadb-slow.log
long_query_time=5

# 开启二进制日志以进行复制
log_bin=mysql-bin

# 设置复制参数
server_id=1
log_slave_updates=ON

# 设置INNODB存储引擎相关
innodb_file_per_table=ON
innodb_buffer_pool_size=2G  # 设置缓冲池大小
innodb_log_file_size=512M   # 设置日志文件大小
innodb_flush_log_at_trx_commit=2 # 设置发送日志到磁盘的频率

# set timeout
wait_timeout=1200
net_read_timeout=1200
net_write_timeout=1200
max_write_lock_count=16  # from HUGE number to allow RD after nn req
open_files_limit=30000  # from 9548 calc to support 8M opened in 2 days

[mysqld_safe]
log-error=/var/log/mariadb/mariadb-error.log
pid-file=/var/run/mariadb/mariadb.pid

!include /etc/mysql/mariadb.conf.d/50-client.cnf
!include /etc/mysql/mariadb.conf.d/50-galera.cnf
