flask
Flask-Cors
flask_sse
gunicorn
marisa-trie
pillow
gevent
sqlalchemy
flask_sqlalchemy
pymysql
python_avatars
PyJWT
requests
openai
pycryptodome
tiktoken
edge-tts
ffmpeg-python
azure-cognitiveservices-speech